<div class="container">
    <div class="parimal__image">
        <img src="../../assets/ParimalMahindrakar/pari.png" alt="">
    </div>
    <div class="seperation"></div>
    <div class="parimal__info">
        <h1>Hello , </h1> <br>
        <h1>I am Parimal Mahindrakar.</h1>
        <br> <br>
        
        <div class="parimal__info__padding_left">
            <h2> &bull; Web Developer.</h2> <br>
            <h2>&bull;  ML Enthusiastic. </h2>
        </div>
        <div class="download__portfolio">
            <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/mparimal-a7cdb.appspot.com/o/Parimal_Mahindrakar_Resume.pdf?alt=media&token=7e349c56-7b33-4cd5-a7e2-87a9f81e7af4">
                Download Portfolio</a>
        </div>
    </div>

    <!--  -->

</div>