* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: $main__black__color;
    transition: 0.4s;
    &:hover {
        color: $main__color;
    }
    &:focus {
      outline: none;
     
    }
}
i {
    color: $main__black__color;
}

