@mixin flexingBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

@mixin sm {
   @media (max-width: #{$screen__sm__min}) {
       @content;
   }
}
@mixin up__sm {
   @media (min-width: #{$screen__sm__min}) {
       @content;
   }
}
@mixin up__xl {
   @media (min-width: #{$screen__sm__min}) {
       @content;
   }
}
@mixin md {
   @media (max-width: #{$screen__md__min}) {
       @content;
   }
}

@mixin lg {
   @media (max-width: #{$screen__lg__min}) {
       @content;
   }
}
@mixin xl {
   @media (max-width: #{$screen__xl__min}) {
       @content;
   }
}


@mixin rwd($screen) {
   @media (max-width: $screen+'px') {
       @content;
   }
}
@mixin up__rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}
@mixin doTransition {
    transition: 0.8s;
}
