$screen__sm__min: 576px;
$screen__md__min: 768px;
$screen__lg__min: 992px;
$screen__xl__min: 1200px;

$main__color:rgb(182, 182, 182);
$main__black__color:#6e6e6e;
$font__weight:350;
$transition__time:0.6s;
