<div class="container">
    <div class="img__n__info">
        <img src="../../assets/TechIcons/python.png">
        <span>Python</span>
    </div>
    <div class="img__n__info">
        <img src="../../assets/TechIcons/js.png">
        <span>JavaScript</span>
    </div>
    <div class="img__n__info">
        <img src="../../assets/TechIcons/java.png">
        <span>Java</span>
    </div>
    <div class="img__n__info">
        <img src="../../assets/TechIcons/angular.png">
        <span>Angular</span>
    </div>
    <div class="img__n__info">
        <img src="../../assets/TechIcons/node.png">
        <span>NodeJs</span>
    </div>
    <div class="img__n__info">
        <img src="../../assets/TechIcons/django.png">
        <span>Django</span>
    </div>
    <div class="img__n__info">
        <img src="../../assets/TechIcons/mongo.png">
        <span>MongoDB</span>
    </div>
    <div class="img__n__info">
        <img src="../../assets/TechIcons/flutter.png">
        <span>Flutter</span>
    </div>
    <div class="img__n__info">
        <img src="../../assets/TechIcons/data.png">
        <span>Data Science</span>
    </div>
    <div class="img__n__info">
        <img src="../../assets/TechIcons/web.png">
        <span>Web Designing</span>
    </div>
    <div class="img__n__info">
        <img src="../../assets/TechIcons/linux.png">
        <span>Linux</span>
    </div>
    <div class="img__n__info">
        <img src="../../assets/TechIcons/shell.png">
        <span>Shell Script</span>
    </div>
    
</div>