<div class="about__container">
    <div class="container">
        <h5 class="paras__headings">About Me</h5>
        <br>
        <p> &nbsp;&nbsp;&nbsp;<span class="h1">H</span>ello, I am Parimal N Mahindrakar, persuing 3rd Year in
            IT department from Pune Institute of Computer Technology, Pune University.
            For the past 3 years, I have been learning Python language. In this span of time, I have also created much and
            more projects that you can see it
            in <a routerLink="/projects">projects</a> section. Also using Django <span class="offwhite">(which is Python
                based web-framework)</span> and Django REST framework,
            I have craeted various websites that you can also see it in <a routerLink="/projects">projects</a> section.
            I am also doing my <b>Honours degree</b> in Data Science from Pune University.
        </p> <br>
        <h5 class="paras__headings">My Internship experience</h5>
        <br>
        <p>
            &nbsp;&nbsp;&nbsp;<span class="h1">O</span>n, OCT 2020 I joined <a target="_blank"
                href="https://www.investsaathi.com/">InvestSaathi.com</a> as an <b>Intern</b> for 3 months.
            While working for InvestSaathi I gained much and more industrial experience like , "Handleing huge amount of
            data using firebase", "Designing of web pages using HTML, SCSS, CSS, Bootstrap,etc",
            "Designing of mobile apps using Flutter", etc. Also using web designing technologies, I created their <a
                href="https://finsuggest.com/">FinSuggest.com</a> website. Using Python,
            I also did real-time web-scrapping of various website for generating the useful information.
        </p> <br>
        <h5 class="paras__headings">Connect with me</h5>
        <br>
        <div class="my__links">
            <a target="_blank" href="https://github.com/parimalmahindrakar">
                <img src="../../assets/icons/github.png" >
            </a>
            <a target="_blank" href="mailto:parimalm4653@gmail.com">
                <img src="../../assets/icons/gmail.png">
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/parimal-mahindrakar-189226190/">
                <img src="../../assets/icons/linkedin.png">
            </a>
        </div>
        <div class="portfolio__button">
            <a target="_blank" [href]="portfolio">
            Download Portfolio</a>
        </div>
    </div>
</div>
