<div class="container">
    <div class="project">
        <span>Ecommerce Web Application</span>
        <br>  <br>
        <br>
        <p>
            Recently I have created my own Ecommerce website using Django. I have also created its REST API
            using Django Rest Framework. This Ecommerce website is fully functional. All the frontend and
            backend is handled by me. For this website I have used MongoDB as a database. This website will be
            in business in the upcoming 3 - 4 weeks. Still you can visit my website ​ <a
                href="http://35.238.237.157/">here​</a>.
        </p>
    </div>
    <div class="project">
        <span>Employee database management</span> <br>
        <br> 
        <br>
        <p>
            Using django REST framework and Angular as front-end, I created Employee database management
            as a mini project. For this I have used bootstrap (for styling), SQLite (for database). This project's
            source code you can see it ​ <a target="_blank" href="https://github.com/parimalmahindrakar/Djagno_Angular_Emp_Dept">here</a>.
        </p>
    </div>
    <div class="project">
        <span>Attendance using the Facial Recognition</span>
        <br>  <br>
        <br>
        <p>
            I have created the software that detects the face and after applying the validations the result for
            present or absent will be stored in DataBase. For this project I have used MySQL as a database. You
            can see my source code ​ <a target="_blank" href="https://github.com/parimalmahindrakar/Attendance">here</a>.
        </p>
    </div>
    <div class="project">
        <span>Flutter Chat Application</span>
        <br>  <br>
        <br>
        <p>
            Using flutter i.e. Dart language I have created the chatting application. For this I have used android
            studio and firebase for the database. You can see my source code ​<a target="_blank" href="https://github.com/parimalmahindrakar/FlutterChatApp">here​</a>.
        </p>
    </div>
    <div class="project">
        <span>Linux-Terminal Chat Application</span>
        <br>  <br>
        <br>
        <p>
            Using ​ Python socket programming ​ I have created a Group chat application from terminal. The
            same application was created using ​ JAVA socket programming​.
        </p>
    </div>
    <div class="project">
        <span>UI Design</span>
        <br>  <br>
        <br>
        <p>
            While I was working as an Intern at InvestSaathi, I have created their website named ​<a target="_blank" href="https://finsuggest.com/">FinSuggest.com</a>
            . For this I have used HTML, CSS and SCSS, JavaScript, JQuery and firebase as a database for storing
            the client’s data.
        </p>
    </div>
    <div class="project">
        <span>Construction Material database</span>
        <br>  <br>
        <br>
        <p>
            As a mini project, me and my team have created the “construction site material management
            website”. For this, we have used Node.js and MySQL as a database. You can view the source code
            <a href="https://github.com/prajwalpatankar/SL1_M10_Construction_Material_Management">here</a>.
        </p>
    </div>
    <div class="project">
        <span>Personal Blog Site</span>
        <br>  <br>
        <br>
        <p>
            Using Django and Django REST API, I have created my personal blog site where you can post, share,
            etc the posts. You can see my source code ​<a href="https://github.com/parimalmahindrakar/BlogProject">here</a>.
        </p>
    </div>
    <div class="project">
        <span>Online Linux Terminal</span>
        <br>  <br>
        <br>
        <p>
            Using django again, I have created an online web terminal where you can type the command and get
            the corresponding result ( for beginners ).
        </p>
    </div>
</div>